<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYSTEN EZ - Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="container-fluid background">
    <nav style="background-color: #222" class="navbar navbar-expand-lg fixed-top d-flex ml-auto" data-bs-theme="dark">
        <div class="container-fluid" style="background-color: #222">
            <div>
                <div id="logo1">SISTEMA</div>
                <div id="logo2">SYSTEN EZ</div>
                </div>
        </div>
    </nav>
<div class="conteudoPagina">
    <div class="row" id="login">
        <h3><strong>LOGIN</strong></h3>

        <label for="usuario" class="form-label ">Usuário:</label>
        <input type="text" id="usuario" class="form-control" ><br>

        <label for="senha" class="form-label ">Senha:</label>
        <input type="text" id="senha" class="form-control" ><br>

        <div class="text-center"><a th:href="@{/telaInicial}"><button id="btnLogin" type="submit"class="btn btn-primary"><strong>ENTRAR</strong></button></a></div>

    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>